<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.fuckWechat</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/jordan_qd/opt/fuckWechat.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/tmp/filewatcher.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/filewatcher.err</string>
</dict>
</plist>
